<!-- views/partials/footer.ejs -->

<!--
    Jimmy Martini 01-11-2021
    Fichier: footer.ejs
    Footer des pages du serveur.
    Ajoute les informations de copyright du serveur pour toutes les pages.
-->

<p class="text-center text-muted">© Copyright 2021 Jimmy Martini</p>