<!-- views/partials/head.ejs -->

<!--
    Jimmy Martini 01-11-2021
    Fichier: head.ejs
    Head des pages du serveur.
    Spécifie tous les paramêtres de la page et les dépendences pour un affichage propre des pages.
-->

<meta charset="UTF-8">
<title>
    <%=title%>
</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io.connect('http://localhost:3000');</script>