<!-- views/partials/header.ejs -->

<!--
    Jimmy Martini 01-11-2021
    Fichier: loginHeader.ejs
    Header des pages du serveur losqu'un utilisateur est connecté.
    Affiche une barre de navigation pour pouvoir inclure tout les liens utile au serveur losqu'un utilisateur est connecté.
-->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Atelier 9
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/logout">Déconnecion</a></li>
            <li><a href="javascript:void document.getElementById('accueilform').submit();">Accueil</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <form id="accueilform" action="/accueil" method="post">
            <input type="hidden" name="eTarget" value="">
            <input type="hidden" name="eMessage" value="">
        </form>
    </div>
</nav>