<!-- views/error.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: error.ejs
    Page d'erreur HTML 404.
    Affiche le message d'erreur et toutes informations utiles au diagnostique de l'erreur.
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
