<!-- views/pages/balance.ejs -->
<!DOCTYPE html>
<!--
    Jimmy Martini 04-10-2021
    Fichier: balance.ejs
    Page qui affiche les information de la balance Toledo.
    Affiche les informations de la balance et gère l'alarme qui lui est associé.
-->

<html lang="fr-CA">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/loginHeader') %>
    </header> 
    <main>
      <div class="jumbotron">
        BALANCE
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>